CONFIG_MSE102X=m
CONFIG_TCG_TIS=y
CONFIG_TCG_TIS_SPI=y
CONFIG_BPF_SYSCALL=n
CONFIG_BPF_JIT=n
CONFIG_ARCH_KEEMBAY=n
CONFIG_ARCH_LAYERSCAPE=n
CONFIG_ARCH_S32=n
CONFIG_NUMA=n
CONFIG_XEN=n
CONFIG_ACPI=n
CONFIG_VIRTUALIZATION=n
CONFIG_KVM=n
CONFIG_SWAP=n
CONFIG_WIRELESS_EXT=n
CONFIG_CFG80211_WEXT=n
CONFIG_PCI=n
CONFIG_ATA=n
CONFIG_NET_DSA_MSCC_FELIX=n
CONFIG_NET_DSA_SJA1105=n
CONFIG_NET_DSA_SJA1105_PTP=n
CONFIG_NET_DSA_SJA1105_TAS=n
CONFIG_NET_DSA_SJA1105_VL=n
CONFIG_AMD_XGBE=n
CONFIG_ATL1C=n
CONFIG_BCMGENET=n
CONFIG_BNX2X=n
CONFIG_SYSTEMPORT=n
CONFIG_MACB=n
CONFIG_THUNDER_NIC_PF=n
CONFIG_HIX5HD2_GMAC=n
CONFIG_HNS_DSAF=n
CONFIG_HNS_ENET=n
CONFIG_HNS3=n
CONFIG_HNS3_HCLGE=n
CONFIG_HNS3_ENET=n
CONFIG_E1000=n
CONFIG_E1000E=n
CONFIG_IGB=n
CONFIG_IGBVF=n
CONFIG_MVMDIO=n
CONFIG_SKY2=n
CONFIG_MLX4_EN=n
CONFIG_MLX5_CORE=n
CONFIG_MLX5_CORE_EN=n
CONFIG_MSCC_OCELOT_SWITCH=n
CONFIG_QCOM_EMAC=n
CONFIG_RMNET=n
CONFIG_DWMAC_GENERIC=n
CONFIG_RC_CORE=n
CONFIG_RC_DEVICES=y
CONFIG_IR_GPIO_CIR=n
CONFIG_MEDIA_SUPPORT=n
CONFIG_SOUND=n
CONFIG_SND=n
CONFIG_USB_CDNS_SUPPORT=n
CONFIG_USB_CDNS3=n
CONFIG_USB_CDNS3_GADGET=n
CONFIG_USB_CDNS3_HOST=n
CONFIG_USB_MUSB_HDRC=n
CONFIG_USB_DWC3=n
CONFIG_USB_DWC2=n
CONFIG_FPGA=n
