CONFIG_LED_TRIGGER_PHY=y
CONFIG_PROC_EVENTS=y
CONFIG_SPI_BITBANG=y
CONFIG_SPI_GPIO=y
CONFIG_USB_LED_TRIG=y
CONFIG_LEDS_TRIGGERS=y
CONFIG_LEDS_TRIGGER_ONESHOT=y
CONFIG_LEDS_TRIGGER_ACTIVITY=y
CONFIG_LEDS_TRIGGER_GPIO=y
CONFIG_LEDS_TRIGGER_TRANSIENT=y
CONFIG_LEDS_TRIGGER_NETDEV=y
CONFIG_LEDS_TRIGGER_TTY=y
