#include "imx6ull-tarragon-common.dtsi"
#include "imx6ull-tarragon-pmic.dtsi"

/ {
	model = "I2SE Tarragon Slave";
	compatible = "fsl,imx6ull-tarragon", "fsl,imx6ull";

	leds { // modified
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_debug_leds>;

		led1 {			/* Boot process */
			label = "evse:green:led1";
			gpios = <&gpio3 14 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "timer";
		};

		led2 {
			label = "evse:yellow:led2";
			gpios = <&gpio3 15 GPIO_ACTIVE_HIGH>;
		};

		led3 {			/* Heartbeat */
			label = "evse:red:led3";
			gpios = <&gpio3 19 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
	};
};

&adc1 {
	status = "okay";
};

&ecspi2 { // keep
	status = "okay";

	qca7000_cp: ethernet@0 {
		reg = <0x0>;
		compatible = "qca,qca7000";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_qca7000_cp_int &pinctrl_qca7000_cp_rst &pinctrl_qca7000_cp_btld>;
		interrupt-parent = <&gpio2>;
		interrupts = <19 IRQ_TYPE_EDGE_RISING>;
		spi-cpha;
		spi-cpol;
		spi-max-frequency = <16000000>;
		intr-gpios = <&gpio2 19 GPIO_ACTIVE_HIGH>;
	};
};

&fec1 {
	phy-handle = <&ethphy0>;
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy0: ethernet-phy@0 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <0>;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_enet1_phy_int>;
			interrupt-parent = <&gpio2>;
			interrupts = <7 IRQ_TYPE_EDGE_FALLING>;
			max-speed = <100>;
		};
	};
};

&flexcan1 {
	status = "okay";
};

&flexcan2 {
	status = "okay";
};

&i2c4 {
	ds2484@18 {
		compatible = "dallas,ds2482";
		reg = <0x18>;
	};
};

&iomuxc {
	pinctrl-0 = <&pinctrl_hog_pins
		     &pinctrl_gpio_motor
		     &pinctrl_push_pull_cfg
		     &pinctrl_dig_in>;
};

&pwm2 {
	status = "okay";
};

&pwm8 {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&uart6 {
	status = "okay";
};

&usbotg1 {
	dr_mode = "host";
	status = "okay";
};

&usdhc2 { // modified
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc2_4bit>;
	pinctrl-1 = <&pinctrl_usdhc2_4bit_100MHz>;
	pinctrl-2 = <&pinctrl_usdhc2_4bit_200MHz>;
	bus-width = <4>;
	broken-cd;
	non-removable;
	vmmc-supply = <&sw2_reg>;
	mmc-pwrseq = <&emmc_pwrseq>;
	status = "okay";
};
