#include "imx6ull-tarragon-common.dtsi"
#include "imx6ull-tarragon-pmic.dtsi"

/ {
	model = "I2SE Tarragon Micro";
	compatible = "fsl,imx6ull-tarragon", "fsl,imx6ull";

	leds { // modified
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_debug_leds>;

		led1 {			/* Boot process */
			label = "evse:green:led1";
			gpios = <&gpio3 14 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "timer";
		};

		led2 {
			label = "evse:yellow:led2";
			gpios = <&gpio3 15 GPIO_ACTIVE_HIGH>;
		};

		led3 {			/* Heartbeat */
			label = "evse:red:led3";
			gpios = <&gpio3 19 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
	};
};

&adc1 {
	status = "okay";
};

&flexcan1 {
	status = "okay";
};

&flexcan2 {
	status = "okay";
};

&iomuxc {
	pinctrl-0 = <&pinctrl_hog_pins
		     &pinctrl_gpio_motor
		     &pinctrl_push_pull_cfg
		     &pinctrl_dig_in>;
};

&pwm2 {
	status = "okay";
};

&pwm8 {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&uart6 {
	status = "okay";
};

&usbotg1 {
	dr_mode = "host";
	status = "okay";
};

&usdhc2 { // modified
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc2_4bit>;
	pinctrl-1 = <&pinctrl_usdhc2_4bit_100MHz>;
	pinctrl-2 = <&pinctrl_usdhc2_4bit_200MHz>;
	vmmc-supply = <&sw2_reg>;
	mmc-pwrseq = <&emmc_pwrseq>;
};
