#include "imx6ull-tarragon-common.dtsi"

/ {
	model = "I2SE Tarragon Master";
	compatible = "fsl,imx6ull-tarragon", "fsl,imx6ull";

	fan0: pwm-fan {
		compatible = "pwm-fan";
		pwms = <&pwm7 0 40000 PWM_POLARITY_INVERTED>;
		enable-gpios = <&gpio3 5 GPIO_ACTIVE_HIGH>;
		interrupt-parent = <&gpio5>;
		interrupts = <1 IRQ_TYPE_EDGE_FALLING>;
	};
};

&adc1 {
	status = "okay";
};

&ecspi2 { // keep
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_qca7000_cp_spi>;
	fsl,spi-num-chipselects = <1>;
	cs-gpios = <&gpio1 29 0>;
	status = "okay";

	qca7000_cp: ethernet@0 {
		reg = <0x0>;
		compatible = "qca,qca7000";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_qca7000_cp_int &pinctrl_qca7000_cp_rst &pinctrl_qca7000_cp_btld>;
		interrupt-parent = <&gpio2>;
		interrupts = <19 IRQ_TYPE_EDGE_RISING>;
		spi-cpha;
		spi-cpol;
		spi-max-frequency = <16000000>;
		intr-gpios = <&gpio2 19 GPIO_ACTIVE_HIGH>;
	};
};

&ecspi4 { // new
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_qca7000_mains_spi>;
	fsl,spi-num-chipselects = <1>;
	cs-gpios = <&gpio2 15 0>; // modified
	status = "okay";

	qca7000_mains: ethernet@0 {
		reg = <0x0>;
		compatible = "qca,qca7000";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_qca7000_mains_int &pinctrl_qca7000_mains_rst &pinctrl_qca7000_mains_btld>;
		interrupt-parent = <&gpio5>;
		interrupts = <19 IRQ_TYPE_EDGE_RISING>; // FIXME
		spi-cpha;
		spi-cpol;
		spi-max-frequency = <16000000>;
		intr-gpios = <&gpio5 9 GPIO_ACTIVE_HIGH>; // modified
	};
};

&fec1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet1 &pinctrl_enet1_phy_rst &pinctrl_enet_mdio>;
	phy-supply = <&reg_dcdc_3v3>;
	phy-mode = "rmii";
	phy-handle = <&ethphy0>;
	phy-reset-gpios = <&gpio5 6 GPIO_ACTIVE_HIGH>; // modified
	phy-reset-duration = <25>;
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy0: ethernet-phy@0 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <0>;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_enet1_phy_int>;
			interrupt-parent = <&gpio2>;
			interrupts = <7 IRQ_TYPE_EDGE_FALLING>;
			max-speed = <100>;
		};
	};
};

&flexcan1 { // new
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan1>;
	xceiver-supply = <&reg_can_5v>;
	status = "okay";
};

&flexcan2 { // keep
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan2>;
	xceiver-supply = <&reg_can_5v>;
	status = "okay";
};

&i2c4 {
	pmic: pfuze3001@8 {
		compatible = "fsl,pfuze3001";
		reg = <0x08>;

		regulators {
			sw1_reg: sw1 {
				regulator-name = "SW1";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			sw2_reg: sw2 {
				regulator-name = "SW2";
				regulator-min-microvolt = <1500000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			sw3_reg: sw3 {
				regulator-name = "SW3";
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <1650000>;
				regulator-boot-on;
				regulator-always-on;
			};

			snvs_reg: vsnvs {
				regulator-name = "VSNVS";
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <3000000>;
				regulator-boot-on;
				regulator-always-on;
			};

			vgen1_reg: vldo1 {
				regulator-name = "VLDO1";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			vgen2_reg: vldo2 {
				regulator-name = "VLDO2";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <1550000>;
				regulator-always-on;
			};

			vgen3_reg: vccsd {
				regulator-name = "VCCSD";
				regulator-min-microvolt = <2850000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			vgen4_reg: v33 {
				regulator-name = "V33";
				regulator-min-microvolt = <2850000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			vgen5_reg: vldo3 {
				regulator-name = "VLDO3";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			vgen6_reg: vldo4 {
				regulator-name = "VLDO4";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};
		};
	};

	ds2484@18 {
		compatible = "dallas,ds2482";
		reg = <0x18>;
	};

	/*
	iis328dq@19 {
		compatible = "st,iis328dq", "st,lis3lv02d";
		reg = <0x19>;
		Vdd-supply = <&reg_dcdc_3v3>;
		Vdd_IO-supply = <&reg_dcdc_3v3>;
		interrupt-parent = <&gpio5>;
		interrupts = <5 0>; // INT1

		st,click-single-x;
		st,click-single-y;
		st,click-single-z;
		st,click-thresh-x = <10>;
		st,click-thresh-y = <10>;
		st,click-thresh-z = <10>;
		st,irq1-click;
		st,irq2-click;
		st,wakeup-x-lo;
		st,wakeup-x-hi;
		st,wakeup-y-lo;
		st,wakeup-y-hi;
		st,wakeup-z-lo;
		st,wakeup-z-hi;
		st,min-limit-x = <120>;
		st,min-limit-y = <120>;
		st,min-limit-z = <140>;
		st,max-limit-x = <550>;
		st,max-limit-y = <550>;
		st,max-limit-z = <750>;
	};
	*/
};

&iomuxc {
	pinctrl-0 = <&pinctrl_hog_pins
		     &pinctrl_gpio_motor
		     &pinctrl_push_pull_cfg
		     &pinctrl_dig_in>;
};

&pwm2 {
	status = "okay";
};

&pwm7 { // keep
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm_fan>;
	status = "okay";
};

&pwm8 {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&uart5 { // new
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rs485_2>; // coupled
	status = "okay";
};

&uart6 {
	status = "okay";
};

&uart7 { // new
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ext_uart>;
	status = "okay";
};

&usbotg1 {
	dr_mode = "host";
	status = "okay";
};

&usdhc2 { // modified
	pinctrl-names = "default";
	// pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc2_8bit>;
	// pinctrl-1 = <&pinctrl_usdhc2_8bit_100MHz>;
	// pinctrl-2 = <&pinctrl_usdhc2_8bit_200MHz>;
	bus-width = <8>;
	broken-cd;
	non-removable;
	// vmmc-supply = <&sw2_reg>;
	// vqmmc-supply = <&vgen6_reg>;
	// mmc-pwrseq = <&emmc_pwrseq>;
	status = "okay";
};
